

  <%= form_for product, html: {class: "form-group"} do |f| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
   <%= image_tag(@product.image_url, class: "img-responsive", id: "show-img")%>

  <div class="form-field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class: "form-control" %>
  </div>
  <div class="form-field">
  <%= f.label :colour %>
  <%= f.text_field :colour, class: "form-control" %>
  </div>
  <div class="form-field">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="actions" id="buton-submit">
   <%= f.submit class: "btn btn-danger" %>
  </div>
<% end %>
