
 
  <div class="col-md-3 col-xs-6">
     <div class="product-box">
      <%= image_tag(product.image_url, class: "img-responsive tile-img") %>
       <p class="desc">
       <%= product.name %><br >
       MSRP: <%= product.price %> $
       </p>
   </div><!--tile-->
        <div class="product-tile-links">
        <%= link_to 'View', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Delete', product, method: :delete,
         data: { confirm: 'Are you sure?' } %>
         </div><!--prod-tile-links-->
 </div><!--col-->

 

