
<br >
<div class="container">
  <p class="show-page-words">
    <strong>Name:</strong>
      <p class="description">
      <%= @product.name %>
  </p>
  </p>
  <div class="show-page-img-holder"><br>
    <%= image_tag(@product.image_url, class: "img-responsive", id: "show-img")%>
  </div>
  <p class="show-page-words">
      <strong>Colour:</strong><br>
      <p class="description">
        <%= @product.colour %>
       </p>
  </p>
  <p class="show-page-words">
      <strong>Description:</strong><br>
          <p class="description">
          <%= @product.description %>
  	      </p>
  </p>
  <p class="show-page-words">
    <strong>PRICE:</strong><br>
      <p class="description">
       MSRP: <%= @product.price %> <span class="glyphicon glyphicon-usd"></span>
      </p>
  </p>
  <h3>Reviews:</h3>

   <div class="edit-form-links">
    <%= link_to 'Edit |', edit_product_path(@product) %> 
    <%= link_to '| Back', products_path %>
  </div>
</div>