<p id="notice"><%= notice %></p>

<p class="show-page-words">
  <strong>Name:</strong>
  <p class="description">
  <%= @product.name %>
  	
  </p>
</p>

<p class="show-page-words">
  <strong>Colour:</strong><br>
  <p class="description">
  <%= @product.colour %>
    
  </p>
</p>


<p class="show-page-words">

 
</p>
<div class="show-background">
<p>Picture in Here:<br>
 <%= @product.image_url %>
</p>
</div>

<p class="show-page-words">
  <strong>Description:</strong><br>
  <p class="description">
  <%= @product.description %>
  	
  </p>
</p>

<p class="show-page-words">
  <strong>PRICE</strong><br>
  <p class="description">
  <%= @product.price %>
    
  </p>
</p>

<p class="show-page-words">
  <strong>Colour</strong><br>
  <p class="description">
  <%= @product.colour %>
    
  </p>
</p>


<div class="showpage-links">
<%= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>
</div>
