<!DOCTYPE html>
<html>
<head>
  <title>sampleApp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
   <%= action_cable_meta_tag %>
</head>
<body>

 <div class="container">
 <nav>
 <ul class="nav nav-tabs">
   <li role="presentation"><a href="https://bikeberlin123.herokuapp.com/">Home</a></li>
   <li role="presentation"><a href="https://bikeberlin123/static_pages/about.herokuapp.com/">About Us</a></li>
   <li role="presentation"><a href="#">Contact</a></li>
 </ul>
</nav>
 <%= yield %>
  <hr class="footer_starts">
  <footer>
    <p>CoreyDesigns&copy2016</p>
  </footer>
</div><!--container class-->
</body>
</html>

