<!DOCTYPE html>
<html>
<head>
  <title>Bike | | Berlin</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
 </head>
<body>
 <div id = "side-nav" class="sideNavBar">
 <a href="javascript:void(0)" class="close-button"
 onclick="closeNav()">&times</a>
 <a href="https://bikeberlin123.herokuapp.com/">Home</a>
 <hr class="nav-hr">
 <a href="https://bikeberlin123.herokuapp.com/static_pages/about">About</a>
 <hr class="nav-hr">
 <a href="https://bikeberlin123.herokuapp.com/static_pages/contact">Contact</a>
 <hr class="nav-hr">
 <a href="https://bikeberlin123.herokuapp.com/products">Products</a>

</div><!-- end of side-nav-->
<span class= "glyphicon glyphicon-menu-hamburger openButtton" onclick="openNav()"></span>
<hr class="cont-starts">
 <%= yield %>
 </div>
  <hr class="footer-starts">
  <footer><p class="foot-comp">CoreyDesigns&copy2016</p>
  </footer>
</div>
</body>
</html>